html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  text-align: left;
  background-color: #EEEEEE;
  color: black;
  height: 400px;
  display: flex;
  align-items: center;
}

.about-section p {
  padding-right: 50px;
}

.about-kanan img {
 	/*align-items: center;
	object-fit: fill;*/
	height: 400px;
}

.about-kanan{
	height: 400px;
	/*width: 40%;*/
	float:right;
	margin-right: -25px;
}

.about-kiri{
	padding: 50px;
	/*width: 60%;*/
	float:left;
}

.title {
  color: grey;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	height: auto;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
}

.button:hover {
  background-color: #555;
}

.judul1 {
  padding-left: 15px;
}

.judul2 {
  padding-left: 15px;
}

.service-section {
    background-color: white;
}

.porto-section {
  background-color: #EEEEEE;
}

footer{
	background-color: #1E0045;
	color: #FFFFFF;
	height: 615px;
}

li{
	list-style: none;
}

.containt-submit{
  background-color: #34eb37;
  color: #000000;
  padding: 12px 24px;
  display: inline-block;
  border: none;
  /*border-radius: 5px;*/
  opacity: 0.8;
}

.containt-submit:hover {
  opacity: 1;
}

input, textarea{
  width:400px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.footer-judul{
	padding-top: 10px;
	text-align: center;
}

.footer-kanan{
	width: 50%;
	float: left;
}

.footer-kiri{
	width: 50%;
	float: right;
	padding-left: 25px;
}

.fa, .fab {
  margin-right: 10px;
}

.footer-kiri ul{
	padding-left: 0px;
}

.footer-kiri li{
	padding: 5px 0px 0px 0px;
	margin-left: 0px;
	display: flex;
    align-items: center;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  text-align: left;
  background-color: #EEEEEE;
  color: black;
  height: 400px;
  display: flex;
  align-items: center;
}

.about-section p {
  padding-right: 50px;
}

.about-kanan img {
 	/*align-items: center;
	object-fit: fill;*/
	height: 400px;
}

.about-kanan{
	height: 400px;
	/*width: 40%;*/
	float:right;
	margin-right: -25px;
}

.about-kiri{
	padding: 50px;
	/*width: 60%;*/
	float:left;
}

.title {
  color: grey;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	height: auto;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
}

.button:hover {
  background-color: #555;
}

.judul1 {
  padding-left: 15px;
}

.judul2 {
  padding-left: 15px;
}

.service-section {
    background-color: white;
}

.porto-section {
  background-color: #EEEEEE;
}

footer{
	background-color: #1E0045;
	color: #FFFFFF;
	height: 615px;
}

li{
	list-style: none;
}

.containt-submit{
  background-color: #34eb37;
  color: #000000;
  padding: 12px 24px;
  display: inline-block;
  border: none;
  /*border-radius: 5px;*/
  opacity: 0.8;
}

.containt-submit:hover {
  opacity: 1;
}

input, textarea{
  width:400px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.footer-judul{
	padding-top: 10px;
	text-align: center;
}

.footer-kanan{
	width: 50%;
	float: left;
}

.footer-kiri{
	width: 50%;
	float: right;
	padding-left: 25px;
}

.fa, .fab {
  margin-right: 10px;
}

.footer-kiri ul{
	padding-left: 0px;
}

.footer-kiri li{
	padding: 5px 0px 0px 0px;
	margin-left: 0px;
	display: flex;
    align-items: center;
}
